.adminProduct{

}
.content{
    margin-top: 40px;
    margin-bottom: 20px;
}
.title{
        font-size: 30px;
        font-weight: 700;
        line-height: 43px;
}
.body{
    display: flex;
}
.swiperContainer{
    width: 570px;
    height:  520px;
}
.swiper{
   width: 570px;
    height:  520px;
}
.slide{
    width: 570px;
    height:  520px;
    img{
    width: 570px;
    height:  520px;
    }
}
.key{
    color: rgb(178, 181, 187);

    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    span{
        color: rgb(68, 75, 88)


    }
}