.faq {
  color: rgb(68, 75, 88);

  .body {
    padding-top: 60px;

    .title {
      font-size: 30px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 27px;
    }

    .content {
      
    }
  }
}
