.header {    background-color: #484283;
  color: white;

}
a{
  color: white;
}
.body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 63px;

}
.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}
