:root {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  font-family: jost;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 51px;
  padding-right: 35px;
}
li {
  list-style: none;
}
